.technology {
  align-items: flex-start;
  background-image: url("../../../assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;

  &_left {
    color: $color-white;
    font-family: $font-alt;
    font-size: 28px;
    letter-spacing: 4.72px;
    margin-top: 280px;
    margin-left: 10%;
    text-transform: uppercase;

    p {
      padding-bottom: 100px;

      span {
        font-weight: bold;
        opacity: 0.25;
        padding-right: 20px;
      }
    }

    .container {
      display: flex;
      gap: 80px;

      .steps {
        ul {
          display: flex;
          flex-direction: column;
          gap: 40px;

          li {
            .inactive {
              align-items: center;
              cursor: pointer;
              background-color: transparent;
              border: 1px solid rgba($color: $color-white, $alpha: 0.25);
              border-radius: 50%;
              display: flex;
              justify-content: center;
              height: 80px;
              width: 80px;

              &:hover {
                border: 1px solid rgba($color: $color-white, $alpha: 1);
              }
            }

            .active {
              align-items: center;
              color: $color-main;
              cursor: pointer;
              background-color: $color-white;
              border: 1px solid rgba($color: $color-white, $alpha: 0.25);
              border-radius: 50%;
              display: flex;
              justify-content: center;
              height: 80px;
              width: 80px;
            }
          }
        }
      }

      .description {
        .p1 {
          color: $color-second;
          font-family: $font-alt;
          font-size: 16px;
          letter-spacing: 2.7px;
          line-height: 19px;
          padding-bottom: 20px;
        }

        h1 {
          font-family: $font-base;
          font-size: 56px;
          line-height: 64px;
          padding-bottom: 30px;
        }

        .text {
          color: $color-second;
          font-family: $font-barlow;
          font-size: 18px;
          letter-spacing: normal;
          line-height: 32px;
          text-transform: none;
          width: 444px;
        }
      }
    }
  }

  &_right {
    .img_container {
      background-image: url("../../../assets/technology/image-launch-vehicle-portrait.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      bottom: 15%;
      position: absolute;
      right: 0;
      z-index: -1;
      height: 527px;
      width: 515px;

      &-spaceport {
        background-image: url("../../../assets/technology/image-spaceport-portrait.jpg");
      }

      &-capsule {
        background-image: url("../../../assets/technology/image-space-capsule-portrait.jpg");
      }
    }
  }
}

@media (max-width: 1440px) {
  .technology {
    &_right {
      .img_container {
        bottom: 20%;
        width: 360px;
        height: 369px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .technology {
    align-items: center;
    background-image: url("../../../assets/technology/background-technology-tablet.jpg");
    flex-direction: column;
    height: auto;
    justify-content: center;

    &_left {
      font-size: 20px;
      letter-spacing: 3.38px;
      margin-left: 0;
      margin-top: 200px;
      text-align: center;
      width: 100%;

      p {
        margin-left: 5%;
        padding-bottom: 50px;
        text-align: left;
      }

      .container {
        flex-direction: column;
        gap: 50px;

        .steps {
          ul {
            flex-direction: row;
            justify-content: center;

            li {
              .inactive {
                height: 60px;
                width: 60px;
              }

              .active {
                height: 60px;
                width: 60px;
              }
            }
          }
        }

        .description {
          .p1 {
            margin: 0;
            text-align: center;
          }

          h1 {
            font-size: 40px;
            line-height: 46px;
          }

          .text {
            font-size: 16px;
            line-height: 28px;
            margin: 0 auto;
            text-align: center;
          }
        }
      }
    }

    &_right {
      width: 100%;

      .img_container {
        background-image: url("../../../assets/technology/image-launch-vehicle-landscape.jpg");
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
        position: static;
        width: 100%;

        &-spaceport {
          background-image: url("../../../assets/technology/image-spaceport-landscape.jpg");
        }

        &-capsule {
          background-image: url("../../../assets/technology/image-space-capsule-landscape.jpg");
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .technology {
    &_left {
      p {
        margin-left: 0;
        text-align: center;
      }

      .container {
        .steps {
          ul {
            li {
              .inactive {
                height: 40px;
                width: 40px;
              }

              .active {
                height: 40px;
                width: 40px;
              }
            }
          }
        }

        .description {
          .p1 {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 2.36px;
          }

          h1 {
            font-size: 24px;
            line-height: 28px;
          }

          .text {
            font-size: 15px;
            line-height: 25px;
            width: 327px;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .technology {
    background-image: url("../../../assets/technology/background-technology-mobile.jpg");
    &_left {
      .container {
        .description {
          .text {
            width: 250px;
          }
        }
      }
    }
  }
}
