@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

$font-base: "Bellefair", serif;
$font-alt: "Barlow Condensed", sans-serif;
$font-barlow: "Barlow", sans-serif;
