.home {
  align-items: flex-end;
  background-image: url("../../../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  position: relative;
  width: 100%;
  z-index: 1;

  &_text_box {
    color: $color-white;
    margin-bottom: 10%;
    margin-left: 10%;
    width: 450px;

    &-text1 {
      color: $color-second;
      font-family: $font-alt;
      font-size: 28px;
      letter-spacing: 4.72px;
      padding-bottom: 24px;
    }

    &-title {
      font-size: 150px;
      padding-bottom: 24px;
    }

    &-text2 {
      color: $color-second;
      font-family: $font-barlow;
      font-size: 18px;
      line-height: 32px;
    }
  }

  &_btn {
    margin-bottom: 10%;
    margin-right: 15%;

    a {
      background-color: $color-white;
      border-radius: 50%;
      color: $color-main;
      display: inline-block;
      font-size: 32px;
      letter-spacing: 2px;
      line-height: 274px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1);
      width: 274px;

      &:hover {
        box-shadow: 0 0 1px 30px rgba(#979797, 0.25), 0 0 1px 60px rgba(#979797, 0.2), 0 0 1px 90px rgba(#979797, 0.15), 0 0 1px 120px rgba(#979797, 0.1);
      }
    }
  }
}

@media (max-width: 1024px) {
  .home {
    align-items: center;
    background-image: url("../../../assets/home/background-home-tablet.jpg");
    flex-direction: column;
    height: auto;
    justify-content: center;

    &_text_box {
      margin-bottom: auto;
      margin-left: 0%;
      margin-top: 200px;
      text-align: center;

      &-text1 {
        font-size: 20px;
        line-height: 24px;
      }

      &-text2 {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 120px;
      }
    }

    &_btn {
      margin-right: 0%;

      a {
        line-height: 242px;
        width: 242px;

        &:hover {
          box-shadow: 0 0 1px 25px rgba(#979797, 0.25), 0 0 1px 50px rgba(#979797, 0.2), 0 0 1px 75px rgba(#979797, 0.15), 0 0 1px 100px rgba(#979797, 0.1);
        }
      }
    }
  }
}
