.destination {
  align-items: flex-start;
  background-image: url("../../../assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  position: relative;
  width: 100%;
  z-index: 1;

  &_left {
    color: $color-white;
    font-family: $font-alt;
    font-size: 28px;
    letter-spacing: 4.72px;
    margin-left: 10%;
    margin-top: 280px;
    margin-right: 48px;
    text-transform: uppercase;

    p {
      padding-bottom: 100px;

      span {
        font-weight: bold;
        opacity: 0.25;
        padding-right: 20px;
      }
    }

    img {
      transform: translateX(60px);
    }
  }

  &_right {
    color: $color-white;
    margin-top: 370px;
    margin-right: 10%;
    width: 445px;

    nav {
      color: $color-second;
      font-family: $font-alt;
      font-size: 18px;
      height: 37px;
      letter-spacing: 2.7px;
      line-height: 22px;
      padding-bottom: 40px;

      ul {
        display: flex;
        gap: 30px;

        li {
          cursor: pointer;
          padding-bottom: 15px;

          &:hover {
            border-bottom: 3px solid $color-white;
            color: $color-white;
          }
        }

        .active {
          color: $color-white;
          border-bottom: 3px solid $color-white;
        }
      }
    }

    h1 {
      font-family: $font-base;
      font-size: 100px;
      line-height: 115px;
      padding-bottom: 20px;
    }

    p {
      color: $color-second;
      font-family: $font-barlow;
      font-size: 18px;
      line-height: 32px;
    }

    hr {
      background-color: #383b4b;
      border: none;
      height: 1px;
      margin-bottom: 30px;
      margin-top: 50px;
    }

    .info_box {
      display: flex;
      gap: 80px;

      .info_title {
        color: $color-second;
        font-family: $font-alt;
        font-size: 14px;
        letter-spacing: 2.36px;
        line-height: 17px;
        padding-bottom: 10px;
      }

      .info_value {
        color: $color-white;
        font-family: $font-base;
        font-size: 28px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .destination {
    &_left {
      img {
        width: 80%;
      }
    }

    &_right {
      nav {
        font-size: 16px;
      }

      h1 {
        font-size: 80px;
        line-height: 95px;
      }

      p {
        font-size: 16px;
        line-height: 30px;
      }

      .info_box {
        .info_value {
          font-size: 26px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .destination {
    align-items: center;
    background-image: url("../../../assets/destination/background-destination-tablet.jpg");
    flex-direction: column;
    height: auto;
    justify-content: center;

    &_left {
      font-size: 20px;
      letter-spacing: 3.38px;
      margin-left: 0;
      margin-top: 200px;
      margin-right: 0;
      text-align: center;
      width: 100%;

      p {
        margin-left: 5%;
        padding-bottom: 50px;
        text-align: left;
      }

      img {
        transform: none;
        width: 300px;
      }
    }

    &_right {
      margin-top: 50px;
      margin-right: 0;
      text-align: center;

      nav {
        ul {
          justify-content: center;
        }
      }
    }

    .info_box {
      justify-content: center;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 768px) {
  .destination {
    &_left {
      p {
        margin-left: 0;
        text-align: center;
      }

      img {
        width: 170px;
      }
    }

    &_right {
      width: 327px;

      nav {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2.36px;
      }

      h1 {
        font-size: 56px;
        line-height: 64px;
      }

      p {
        font-size: 15px;
        line-height: 25px;
      }

      .info_box {
        flex-direction: column;
        gap: 50px;
      }
    }
  }
}

@media (max-width: 375px) {
  .destination {
    background-image: url("../../../assets/destination/background-destination-mobile.jpg");

    &_right {
      width: 250px;
    }
  }
}
